.caltable {
    width: 100%;
}

.caltable tr th {
    text-align: center;
}

.caltable tr td {
    padding: 2px 10px;
    text-align: center;
}

.caltable tr td:hover {
    background: #ddd;
    border-radius: 5px;
}

.selector {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
}

.header {
    width: 100%;
}